.wrapper {
    width: 100vw;
    height: calc(100vh+6rem);
    background-color: #595858;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}



.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}