.product-wrapper {
    /* background: #595858; */
    width: 100vw;
    height: 100%;
    overflow: hidden
}

.product-image {
    width: 300px;
    height: 300px;
    margin: 1rem;
}

@media only screen and (min-width: 900px) {
    .product-wrapper {
        display: flex
    }

    .product-image {
        width: 30rem;
        height: 30rem;
        margin: 1rem;
    }
}

.details {
    padding: 2rem;
}

.name {
    font-family: "DrippyFont";
    -webkit-text-stroke: 1px black;
}

.order-now {
    margin: 0 2rem;
    padding: 1rem 1.5rem;
    background: #000;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.order-now-sold {
    margin: 0 2rem;
    padding: 1rem 1.5rem;
    background: #6d6d6d;
    color: white;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    pointer-events: none;
}