.product-wrapper {
    background: #595858;
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

.product-image {
    width: 70%;
    margin: 1rem;
}

.details {
    padding: 2rem;
}

.name {
    font-family: "DrippyFont";
}