@font-face {
  font-family: 'DrippyFont';
  /* Choose a unique font name */
  src: url('./fonts/plasma-drip.brk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: #595858;
}

.title {
  font-family: 'DrippyFont';
  font-size: 5rem;
  padding-top: 1rem;
  background-color: #595858;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 6rem;
}

.title-text {
  position: fixed;
  z-index: 1;
  cursor: pointer;
}