@font-face {
  font-family: 'DrippyFont';
  /* Choose a unique font name */
  src: url('./fonts/plasma-drip.brk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #595858;
  background-image: url('https://i.ibb.co/FxpB6pn/background.png');
  background-size: 30%;
  color: white;
}

body {
  overflow-x: hidden;

}

.title {
  font-family: 'DrippyFont';
  font-size: 5rem;
  padding-top: 1rem;
  /* background-color: #595858; */
  -webkit-text-stroke: 2px black;

  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 6rem;
}

.title-text {
  position: fixed;
  height: 6rem;
  z-index: 5;
  cursor: pointer;
  top: -5rem;
}

.logo-wrapper {
  width: 100dvw;
  height: fit-content;
  z-index: 7;
  background: linear-gradient(#595858 70%, transparent);
  /* background-color: red; */
}

.header-logo {
  height: 350px;
  width: 80vw;
  max-width: 500px
}